<div class="sidenav">
  <div class="user-info">
    <div class="user-img">
      <img src="me 4.jpg" alt="user-img" />
    </div>
    <div>
      <h4 class="title">Aziz</h4>
      <div class="user-status">
        <mat-icon style="color: green">circle</mat-icon>
        <p>Online</p>
      </div>
    </div>
  </div>
  <ul>
    <div class="mini-title">
      <p><b>Scheduled</b></p>
      <mat-icon>down</mat-icon>
    </div>
    <li><mat-icon>today</mat-icon>Today</li>
    <li><mat-icon>date_range</mat-icon>Upcoming</li>
    <div class="mini-title">
      <p><b class="mini-title">Tasks</b></p>
      <mat-icon>down</mat-icon>
    </div>
    <li><mat-icon>menu</mat-icon>All</li>
    <li><mat-icon>done</mat-icon>Completed</li>
    <li><mat-icon>delete</mat-icon>Deleted</li>
  </ul>
  <ul class="user-settings">
    <li>Settings</li>
    <li>Logout</li>
  </ul>
</div>
