/* Building Structure */

.edit-container {
  background-color: #e7e7e7;

  padding: 20px;
  height: 100vh;
}

.title {
  border-radius: 10px;
}

/* Title section */

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.main-title mat-icon {
  cursor: pointer;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.title-input {
  margin-left: 10px;
  width: 90%;
  background-color: transparent;

  font-size: 16px;

  border: none;
}

.title-input:focus {
  outline: none;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Checkbox */

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;

  margin-right: 10px;
}

.checkbox-input:hover {
  background-color: rgb(178, 197, 207);
}

.checkbox-input:checked {
  outline: none;
  border: none;
  background-color: rgb(129, 145, 154);
  background-image: url("/icons/tick.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Description section */

.description {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.description-input {
  width: 100%;
  height: 70px;
  resize: none;

  font-size: 16px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;

  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
}

.description-input:focus {
  outline: none;
}

/* Button */
.submit-button {
  margin-top: 20px;
}
