<div class="edit-container" #container>
  <form [formGroup]="form" method="post">
    <div class="main-title">
      <p class="form-title">Edit task</p>
      <mat-icon (click)="HidePanel()">close</mat-icon>
    </div>
    <input type="hidden" value="{{ taskID }}" formControlName="id" />
    <div class="title">
      <input
        name="task"
        type="checkbox"
        class="checkbox-input"
        (change)="ToggleTask($event)"
        [value]="task?.id"
        [checked]="task?.status === 'Completed'"
      />
      <input
        type="text"
        class="title-input"
        formControlName="title"
        [value]="task?.title"
      />
      <div class="star-img" (click)="ToggleImportantTask()">
        <img
          src="/icons/star/star-active.png"
          *ngIf="task?.important === true; else unimportant"
        />
        <ng-template #unimportant>
          <img src="/icons/star/star-unactive.png" />
        </ng-template>
      </div>
    </div>
    <mat-form-field class="calendar">
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="description">
      <!-- prettier-ignore -->
      <textarea
        appIncreaseHeightInput
        class="description-input"
        formControlName="description"
        matInput
        [value]="task?.description"></textarea>
    </div>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="OnClickPut($event)"
      class="submit-button"
    >
      Save
    </button>
  </form>
</div>
