<div class="edit-container" #container>
  <form [formGroup]="form" method="post">
    <div class="main-title">
      <p class="form-title">Edit task</p>
      <mat-icon (click)="HidePanel()">close</mat-icon>
    </div>
    <input type="hidden" value="{{ taskID }}" formControlName="id" />
    <div class="title">
      <input
        name="task"
        type="checkbox"
        class="checkbox-input"
        (change)="ToggleTask($event)"
        [value]="task?.id"
        [checked]="task?.status === 'Completed'"
      />
      <input
        type="text"
        class="title-input"
        formControlName="title"
        [value]="task?.title"
      />

      <mat-icon>star</mat-icon>
    </div>
    <div class="description">
      <!-- prettier-ignore -->
      <textarea
        appIncreaseHeightInput
        class="description-input"
        formControlName="description"
        [value]="task?.description"></textarea>
    </div>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="OnClickPut($event)"
      class="submit-button"
    >
      Save
    </button>
  </form>
</div>
