<div class="edit-container" #container>
  <form [formGroup]="form" method="post">
    <p class="form-title">Edit task</p>
    <input type="hidden" value="{{ taskID }}" formControlName="id" />
    <div class="title">
      <input
        name="task"
        type="checkbox"
        class="checkbox-input"
        (change)="ToggleTask($event)"
        [value]="task?.id"
        [checked]="task?.status === 'Completed'"
      />
      <input
        type="text"
        value="{{ task?.title }}"
        class="title-input"
        formControlName="title"
      />

      <mat-icon>star</mat-icon>
    </div>
    <div class="description">
      <!-- prettier-ignore -->
      <textarea
        appIncreaseHeightInput
        class="description-input"
        formControlName="description"
        [value]="task?.description"></textarea>
    </div>
  </form>
</div>
