<main [class.grid-format]="hiddenEdit === false">
  <div class="body">
    <div class="container">
      <div class="display-tasks">
        <div class="title">
          <h1>{{ title }}</h1>
        </div>
        <div class="main">
          <div class="pending-tasks">
            <div *ngFor="let task of pendingTasks" class="task-element">
              <div
                class="task-element-input"
                [matContextMenuTriggerFor]="menu"
                (click)="OnToggleEdit(task.id)"
              >
                <label for="task">
                  <input
                    name="task"
                    type="checkbox"
                    (change)="ToggleTask($event)"
                    [value]="task.id"
                  />
                  <span>{{ task.title }}</span>
                </label>
                <div
                  class="star-img"
                  (click)="ToggleImportantTask($event, task.id)"
                >
                  <img
                    src="/icons/star/star-active.png"
                    *ngIf="task?.important === true; else unimportant"
                  />
                  <ng-template #unimportant>
                    <img src="/icons/star/star-unactive.png" />
                  </ng-template>
                </div>
              </div>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Edit</button>
                <button mat-menu-item (click)="OnDelete(task.id)">
                  Delete
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="completed-tasks" *ngIf="CheckNumberCompletedTasks()">
            <div class="subtitle" (click)="OnToggleTasks()">
              <mat-icon [class.rotated]="!hiddenTasks"
                >arrow_drop_down</mat-icon
              >
              <p>Completed Tasks ({{ completedTasks.length }})</p>
            </div>
            <div class="tasks" *ngIf="hiddenTasks === false">
              <div *ngFor="let task of completedTasks" class="task-element">
                <div
                  class="task-element-input"
                  [matContextMenuTriggerFor]="menu"
                  (click)="OnToggleEdit(task.id)"
                >
                  <label for="task">
                    <input
                      name="task"
                      type="checkbox"
                      checked
                      (change)="ToggleTask($event)"
                      [value]="task.id"
                    />
                    <span>{{ task.title }}</span>
                  </label>
                  <div
                    class="star-img"
                    (click)="ToggleImportantTask($event, task.id)"
                  >
                    <img
                      src="/icons/star/star-active.png"
                      *ngIf="task?.important === true; else unimportant"
                    />
                    <ng-template #unimportant>
                      <img src="/icons/star/star-unactive.png" />
                    </ng-template>
                  </div>
                </div>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Edit</button>
                  <button mat-menu-item (click)="OnDelete(task.id)">
                    Delete
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-createtask (addEvent)="OnAdd()"></app-createtask>
  </div>
  <app-edit
    (loadEvents)="LoadTasks()"
    (hidePanel)="OnToggleEdit()"
    [taskID]="selectedTaskID"
    [hidden]="hiddenEdit"
    [events]="editEvent.asObservable()"
  ></app-edit>
</main>
