/* General styling */

.grid-format {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.display-tasks {
  margin-left: 10px;
}

.title {
  position: sticky;
  top: 0;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
}

.main {
  margin-left: 10px;
  margin-bottom: 75px;
}

/* Taks-Grouping */
.task-element {
  display: flex;
  justify-content: start;
  align-items: center;

  user-select: none;
}

.task-element-input {
  width: 90%;
  background-color: rgb(199, 219, 230);

  padding: 15px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.task-element-input:hover {
  background-color: rgb(200, 224, 236);
}

.task-input + label {
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: center;
}

.task-element-input label input {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;

  margin-right: 10px;
}

.task-element-input label input:hover {
  background-color: rgb(178, 197, 207);
}

.task-element-input label input:checked {
  outline: none;
  border: none;
  background-color: rgb(129, 145, 154);
  background-image: url("/icons/tick.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hiding tasks with dropdown icon */
.completed-tasks .tasks {
  min-height: 100px;
}

.subtitle {
  display: flex;
  justify-content: start;
  align-items: center;

  cursor: pointer;

  margin: 10px 0px;
}

.subtitle mat-icon {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: rotate(-90deg);
}

.subtitle mat-icon.rotated {
  transform: rotate(0deg);
}

/* For line-through for completed tasks */

.task-input {
  margin-right: 10px;
}

.task-input:checked + span {
  text-decoration: line-through;
  color: gray;
}
