<div class="create-form">
  <form [formGroup]="form" (submit)="OnAdd()">
    <mat-form-field subscriptSizing="dynamic" class="task-input">
      <input
        autocomplete="off"
        type="text"
        matInput
        formControlName="task"
        placeholder="new Task"
      />
    </mat-form-field>
    <span class="icon-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </span>
  </form>
</div>
