/* create-task section */

.create-form {
  position: sticky;
  bottom: 0;

  width: 87%;
  margin-left: 20px;

  overflow: hidden;
}

.create-form form {
  display: flex;
  align-items: center;
  position: relative;
}

.task-input {
  width: 100%;
  height: 100%;
}

.icon-container {
  position: absolute;
  right: 15px;
  top: 0%;

  text-align: center;
}
